<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepe.pay.mapper.PcWxCheckinActivityInfoMapper">
    <resultMap type="com.deepe.pay.domain.dto.PcWxCheckinActivityInfoDto" id="PcWxCheckinActivityInfoDtoResult">
        <result property="id" column="id" />
        <result property="activityCode" column="activity_code" />
        <result property="activityCity" column="activity_city" />
        <result property="activityName" column="activity_name" />
        <result property="activityStartTime" column="activity_start_time" />
        <result property="activityEndTime" column="activity_end_time" />
        <result property="activityPushTitle" column="activity_push_title" />
        <result property="activityPushContent" column="activity_push_content" />
        <result property="activityPushPicUrl" column="activity_push_pic_url" />
        <result property="activityPushPicMediaId" column="activity_push_pic_media_id" />
        <result property="activityPushContentUrl" column="activity_push_content_url" />
        <result property="activityAdminAccount" column="activity_admin_account" />
        <result property="activityAdminPassword" column="activity_admin_password" />
        <result property="createdAt" column="created_at" />
        <result property="createdBy" column="created_by" />
        <result property="updatedAt" column="updated_at" />
        <result property="updatedBy" column="updated_by" />
        <result property="dr" column="dr" />
    </resultMap>
    <select id="findList" resultType="com.deepe.pay.domain.eo.PcWxCheckinActivityInfo">
        SELECT * FROM pc_wx_checkin_activity_info WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE pc_wx_checkin_activity_info set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>